.form-wrapper {
    background: linear-gradient(135deg, rgba(233, 255, 181, 0.8), rgba(88, 108, 89, 0.8));
    padding: 40px;  /* Adds padding around the form */
    border-radius: 12px; /* Slight rounding for the background container */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow to make the background stand out */
}

/* Main form container */
form {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f1f1f1; /* Light background color for the form */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Smooth background transition */
}

/* Form heading */
form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #343a40;
    text-align: center;
}

/* Form label styling */
label {
    font-size: 18px;
    font-weight: 700;
    color: #495057;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

/* Input and Select styling */
input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #495057;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

/* Input focus effect */
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus,
input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Adds a glowing effect on focus */
    transform: scale(1.02); /* Slightly enlarges the textbox */
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

/* Categories section */
#categories-wrapper {
    margin-top: 20px;
}

/* Categories checkboxes styling */
#categories-wrapper label {
    font-weight: 600;
    color: #495057;
    margin-bottom: 20px;
}

/* Align checkboxes and labels in a row and center them */
#categories label {
    font-size: 14px;
    color: #495057;
}

#categories input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 8px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Attributes section */
#attributes {
    margin-top: 20px;
}

/* Stock and Description styling */
textarea {
    height: 150px;
}

/* Submit button styling */
button[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error message styling (if needed) */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
