.title{
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin-top: 70px;
    font-size: 2.2em;
}

/* Product List - Make it scrollable */
.order-list {
    overflow-x: auto;
    margin-bottom: 80px; /* Space for the buttons at the bottom */
}

/* Table styling */
table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 90%; /* Prevents the table from stretching too wide */
}

thead {
    background-color: #f7c6b5;
    
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    color: #333;
    border-left: 1px solid #f6f2f2;
}

th {
    font-size: 1.1em;
    font-weight: bold;
    border-right: 1px solid #b59285;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Order item details section */
.order-item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.order-item-details img {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.order-item-details p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}

.order-item-details .product-deleted {
    margin-left: -10px;
    margin-right: 20px;
    color: #888;
    font-style: italic;
}

.order-item-details .product-name {
    font-weight: bold;
}

/* Card number and card brand styles */
td .card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

td .card-info span {
    font-size: 0.9em;
    color: #555;
}

/* Make sure the layout is centered and looks good */
.order-items-container {
    margin: 0 auto;
    padding: 20px;
}

/* Ensure the order history has some margin */
.order-history {
    margin-top: 30px;
}

.no-records {
    text-align: center;
    font-size: 1.4em;
    color: #b83c3c;
    padding: 30px;
}