/* Hero Section */
.hero {
    width: 100%;
    height: 85vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 0; /* Initially hidden for fade-in effect */
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

.hero p {
    font-size: 20px;
    color: gray;
    margin-bottom: 65px;
    width: 80%;
}

.btn-start {
    background: white;
    color: black;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid white;
}

.btn-start:hover {
    background: transparent;
    color: white;
}

/* Fade-in Animation */
.fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
